<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-blog md-padding">
	<h1 class="text-white text-center">BLOG</h1>
</section>

<!--==========================
    Contact Section
============================-->
<section id="blog" class="md-padding">
	<div class="container">
		<div class="row">
			<main id="main" class="col-md-8">
				{{#if sessionFlash.message}}
				<div class="{{sessionFlash.type}}">
					{{sessionFlash.message}}
				</div>
				{{/if}}
				<div class="row" id="test">
					{{#each (limit post 6)}}
					<div class="col-md-6">
						<div class="blog">
							<div class="blog-img">
								<img src="/{{post_name}}" class="img-fluid">
							</div>
							<div class="blog-content">
								<ul class="blog-meta">
									<li><i class="fas fa-users"></i><span class="writer">{{author_name}}</span></li>
									<li><i class="fas fa-clock"></i><span class="writer">{{genereteDate date 'MMM DD
											YYYY'}}</span></li>
									<li><i class="fas fa-comments"></i><span class="writer">13</span></li>
								</ul>
								<h3>{{title}}</h3>
								<p>{{truncate content 130}}</p>
								<a href="/posts/{{_id}}">Read More</a>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</main>



			<!-- Sidebar -->
			{{> site-sidebar}}
			<!-- /Sidebar -->
		</div>
	</div>
</section>